{% trans_default_domain 'Library' %}

{% extends 'kookaburra.html.twig' %}


{% set module = {'baseURL': 'library', 'crumbs': [{uri: 'library__manage_catalogue', name: 'Library'}],  'title': 'Loan/Return Manager', domain: 'Library'} %}
{% set breadcrumbs = 'new' %}
{% set moduleName = 'Library' %}

{% block content %}
    <section id="formContent"></section>
{% endblock content %}