{% extends 'kookaburra.html.twig' %}

{% set module = {'baseURL': 'library', 'crumbs': [{uri: 'library__manage_catalogue', name: 'Library'},{uri: 'library__manage_catalogue', name: 'Manage Catalogue'}],  'title': 'Duplicate Item'} %}
{% set breadcrumbs = 'new' %}
{% set moduleName = 'Library' %}

{% block content %}
    <div id="formContent"></div>
{% endblock content %}